# list

In [1]:
classmates = ['MIchal', 'bob', 'Tracy']
classmates

In [2]:
len(classmates)

In [3]:
print(classmates[0])
print(classmates[1])
print(classmates[2])

MIchal
bob
Tracy

In [4]:
classmates[3]

IndexError: list index out of range

In [5]:
classmates[-1]

'Tracy'

In [6]:
classmates.append('Adam')
classmates

['MIchal', 'bob', 'Tracy', 'Adam']

In [7]:
classmates.insert(1, 'Jack')
classmates

['MIchal', 'Jack', 'bob', 'Tracy', 'Adam']

In [8]:
classmates.pop(1)

'Jack'

In [9]:
classmates

['MIchal', 'bob', 'Tracy', 'Adam']

In [10]:
classmates.pop()

'Adam'

In [11]:
classmates[1] = 'Sarh'
classmates

['MIchal', 'Sarh', 'Tracy']

In [13]:
L = ['Apple', 123, True]
print(L)

['Apple', 123, True]

In [14]:
s = [1, 2, 3, [2, 34, 34324], 1]
len(s)

5

In [15]:
s[3][2]

34324

In [16]:
L = []
len(L)

0

# tuple
- 另一种有序列表叫元组：tuple。tuple和list非常类似，但是tuple一旦初始化就不能修改
- classmates这个tuple不能变了，它也没有append()，insert()这样的方法。其他获取元素的方法和list是一样的，你可以正常地使用classmates[0]，classmates[-1]，但不能赋值成另外的元素。

In [22]:
#定义一个只有1个元素的tuple
'''括号()既可以表示tuple，又可以表示数学公
式中的小括号，这就产生了歧义，因此，Python规定，这种
情况下，按小括号进行计算，计算结果自然是1。''' 
t = (1) 
print(t)
t = (1,) # 1个元素的tuple定义时必须加一个逗号,，来消除歧义
print(t)

1
(1,)

# "可变的"tuple
- tuple的每个元素，指向永远不变。即指向'a'，就不能改成指向'b'，指向一个list，就不能改成指向其他对象，但指向的这个list本身是可变的！

In [23]:
# 案例
t = ('a', 'b', ['A', 'B'])
t[2][0] = 'X'
t[2][1] = 'Y'
print(t)

('a', 'b', ['X', 'Y'])

# 练习
- 请索引取出下面list的指定元素：

In [25]:
L = [
    ['Apple', 'Google', 'Microsoft'],
    ['Java', 'Python', 'Ruby', 'PHP'],
    ['Adam', 'Bart', 'Lisa']
]
# 打印Apple:
print(L[0][0])
# 打印Python:
print(L[1][1])
# 打印Lisa:
print(L[2][2])

Apple
Python
Lisa